html {
    font-size: 14px;
    background-color: rgba(141, 137, 137, 0.137) !important;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

.border-bottom {
    border-bottom: 5px solid purple !important;
}

#navbar {
    background-color: white;
}


footer {
    position: absolute;
    width: 5%;
    height: 0.2px;
    line-height: center;
    background-color: white;
}

body {
    background-color: rgba(141, 137, 137, 0.137) !important;
}

h8 {
    font-size: 30px;
}



